In [1]:
pip install seaborn

Requirement already satisfied: seaborn in /home/statistics/.local/lib/python3.8/site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in /home/statistics/.local/lib/python3.8/site-packages (from seaborn) (1.3.5)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /home/statistics/.local/lib/python3.8/site-packages (from seaborn) (3.4.1)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /home/statistics/.local/lib/python3.8/site-packages (from seaborn) (1.23.4)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas>=0.25->seaborn) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/statistics/.local/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (7.0.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/statistics/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/statistics/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/statistics/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.10.0)
Requirement already satisfied: six>=1.5 in /home/statistics/.local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25->seaborn) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Chapter02　潜在的結果変数の枠組み

#### 2.1　潜在的結果変数の枠組み：具体例

単純な「前後比較」や「集団ごとの平均の差の比較」によって因果を推し測ろうとすることはよくある誤り. <br>
統計的因果推論では, 潜在的結果の差から計算される因果効果を推定する. （ただし, 実際に潜在的結果は観測されないことに注意. ）

#### 2.2　潜在的結果変数の枠組み：理論

In [4]:
data02 = pd.read_csv("../../data/data02.csv")
data02.describe()

,x1,y3,t1,y0,y1,y0t,y1t
count,20.000000,20.000000,20.000000,14.000000,6.000000,20.000000,20.000000
mean,81.950000,76.600000,0.300000,77.785714,73.833333,73.800000,83.850000
std,8.999854,5.245549,0.470162,4.281958,6.615638,7.898034,8.430989
min,58.000000,61.000000,0.000000,72.000000,61.000000,52.000000,61.000000
25%,76.250000,75.000000,0.000000,75.000000,74.250000,69.500000,79.250000
50%,83.500000,76.500000,0.000000,77.000000,75.500000,75.000000,84.500000
75%,87.250000,80.000000,1.000000,80.000000,76.750000,78.500000,89.000000
max,96.000000,87.000000,1.000000,87.000000,80.000000,87.000000,97.000000

#### 2.3　処置効果１：個体因果効果

<b> Def 2.3：個体因果効果（ICE: individual causal effect）</b>
$$ \tau_{i} = \gamma_{i}(1) - \gamma_{i}(0) $$

In [7]:
data02['y1t'] - data02['y0t']

0      8
1      9
2     10
3     13
4      9
5      9
6     11
7     12
8     10
9     10
10     9
11    10
12    10
13     9
14    12
15    12
16    10
17     9
18    10
19     9
dtype: int64

In [8]:
data02['y3'] - data02['x1']

0      2
1     -7
2      3
3    -12
4     -8
5      2
6     -9
7    -10
8     -9
9      3
10    -8
11    -9
12     3
13     3
14   -10
15    -8
16    -8
17    -9
18    -8
19    -8
dtype: int64

In [9]:
data02['y1'] - data02['y0']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
dtype: float64

潜在的結果は一方が観測された時, 他方は観測されないため, ITEは定義できても観測も推定もできない.

#### 2.4　処置効果２：平均処置効果

<b> Def 2.4：個体因果効果（ACE: average causal effect）あるいは 平均処置効果（ATE）</b>
$$ \tau_{\mathrm{ATE}} = \mathrm{E} [ \gamma_{i}(1) - \gamma_{i}(0) ] = \mathrm{E} [ \gamma_{i}(1)] - \mathrm{E} [ \gamma_{i}(0)] $$